#loginBackground {
    height: 100vh;
}

#image {
    background-image: url('../../assets/images/loginbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#loginForm {
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    border-radius: 20px;
}

/* form */
#loginForm > form {
    margin-top: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inputGroup input, #submit {
    padding: 1em;
    border-radius: 10px;
    outline: none;
}

.inputGroup input {
    width: 260px;
    background-color: transparent;
    border: 1px solid #5694a9;
}

#submit {
    border: 0;
    cursor: pointer;
    background-color: var(--smooth-green);
    transition: background-color .1s linear, color .1s linear;
}

.inputGroup input:valid {
    background-color: hsl(173, 33%, 90%);
}

#submit:hover {
    background-color: hsl(187, 36%, 40%);
    color: white;
}

#submit:active {
    background-color: #1D3A3E;
}

#forgotPassword {
    color: hsl(195, 53%, 40%);
    text-decoration: underline hsl(195, 53%, 60%);
    text-underline-offset: 6px;
    cursor: pointer;
    user-select: none;
}

@media (width > 550px) {
    #loginBackground {
        display: flex;
    }

    #loginBackground > div {
        width: 50%;
    }

    #loginForm img {
        filter: invert(50%);
    }
}

@media (width < 550px) {
    #loginForm img {
        filter: invert(100%);
    }

    #loginBackground {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #loginForm {
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: blur(10px);
        position: absolute;
    }
}