@import url(./config.css);

body > header {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(20px);
}

img {
    pointer-events: none;
}

#search {
    width: clamp(200px, 80%, 500px);
    background-color: rgb(240, 240, 240);
    padding-right: 20px;
}

#search form {
    width: 100%;
    display: flex;
    gap: 1em;
}

#search input {
    padding: 10px 20px;
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
}

#search button {
    border: 0;
    background-color: transparent;
}

nav ol {
    width: var(--width);
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        border-radius: 10px;
        transition: box-shadow .1s linear;
    }
}

#logo {
    filter: invert(1);
}

#loading {
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a81;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    justify-content: center;
    font-size: 20px;
    gap: 1em;
}

#cart-icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

#cart-option {
    font-size: 16px;
    background-color: hsl(0, 100%, 80%);
    border-radius: 10px;
    padding: 10px 20px;
    bottom: 0;
    transition: box-shadow .1s linear;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 0;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cart-option:hover {
    box-shadow: 0 0 50px hsl(0, 100%, 80%);
}

#cart-option img {
    width: 18px;
}

main {
    width: 100%;
    margin: 4em 0;
}

#filters {
    width: var(--width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #1a1a1a;
    padding-bottom: 10px;
}

#input {
    background-color: #fff;
    width: 300px;
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border: 0;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#category {
    position: relative;
    user-select: none;
}

#category img {
    width: 20px;
}

#categories {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 100px #e2e2e2;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    display: none;
    padding: 4px;
    margin-top: 10px;
}

#categories::-webkit-scrollbar {
    width: 10px;
    padding: 1em;
}

#categories::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 10px;
}

.cat-open {
    display: block !important;
}

.cat {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cat:hover {
    background-color: #1a1a1a;
    color: var(--white);
}

#products {
    margin: 1em auto 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 2em;
}

.product-card {
    width: 300px;

    header {
        margin-bottom: 1em;
    }

    header img {
        border-radius: 10px;
        width: 200px;
        display: block;
        margin: auto;
    }
}

.product-card main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buy-button {
    padding: 8px 0;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: box-shadow .1s linear;
}

.buy-button:hover {
    background-color: #494949;
    color: var(--white);
}

.buy-button:active {
    background-color: #1a1a1a;
    box-shadow: 0 0 40px gray;
}

#footer-container {
    width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1a1a1a;
    padding: 2em 0;
}

#social-networks {
    display: flex;
    gap: 1em;
}

@media (width < 992px) {
    #products {
        grid-template-columns: repeat(2, auto);
    }
}

@media (width < 660px) {
    .product-card {
        width: 240px;
    }

    #footer-container {
        flex-direction: column;
        gap: 1em;
    }
}

@media (width < 552px) {
    #products {
        grid-template-columns: repeat(1, auto);
    }

    .product-card {
        width: 300px;
    }
}