<footer>
    <div id="footer-container">
        <div id="copy">
            &copy; 2024 LockerG Store - Todos los derechos reservados
        </div>

        <div id="social-networks">
            <div class="network" icon-button>
                <img width="24px" src="./assets/icons/logo-instagram.svg" alt="Logo instagram">
            </div>

            <div class="network" icon-button>
                <img width="24px" src="./assets/icons/logo-tiktok.svg" alt="Logo tiktok">
            </div>

            <div class="network" icon-button>
                <img width="24px" src="./assets/icons/logo-twitter.svg" alt="Logo twitter">
            </div>

            <div class="network" icon-button>
                <img width="24px" src="./assets/icons/logo-youtube.svg" alt="Logo youtube">
            </div>
        </div>
    </div>
</footer>