#footer-container {
    width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #1a1a1a;
    padding: 2em 0;
}

#social-networks {
    display: flex;
    gap: 1em;
}

.network {
    padding: 10px;
    display: flex;
    border-radius: 10px;
    transition: box-shadow .1s linear;
}

.network:hover {
    box-shadow: 0 0 30px -10px #1a1a1a;
}
