#cartBar {
    top: 0;
    height: 100vh;
    width: 400px;
    right: -480px;
    position: fixed;
    background-color: var(--white);
    transition: right .3s ease-out;
    box-shadow: -20px 0 100px -20px #a5a5a5;
    z-index: 100;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-family: 'Courier New', Courier, monospace;
}

.cartBar-open {
    right: 0 !important;
}

#cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #1a1a1a;
}

#cart-close-icon {
    display: flex;
    padding: 4px;
    border-radius: 10px;
    transition: box-shadow .1s linear;
    cursor: pointer;
}

#cart-close-icon:hover {
    box-shadow: 0 0 20px #a5a5a5;
}

#cart-close-icon:active {
    background-color: #1a1a1a;

    img {
        filter: invert(1);
    }

    box-shadow: 0 0 20px hsl(0, 0%, 55%);
}

#cart-main {
    margin: 1em 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1em;
    height: 100%;
}

#cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-actions {
    display: flex;
    gap: 10px;
}

#cart-actions button {
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

#buyButton {
    --default-blue: #547ff5;
    --active-blue: hsl(224, 77%, 47%);
    border: 0;
    background-color: var(--default-blue);
    color: white;
    transition: box-shadow .1s linear, background-color .1s linear;
}

#buyButton:hover {
    box-shadow: 0 0 20px var(--default-blue);
}

#buyButton:active {
    background-color: var(--active-blue);
    box-shadow: 0 0 20px var(--active-blue);
}

#clearCart {
    border: 1px solid hsl(0, 93%, 83%);
    background-color: hsl(0, 100%, 98%);
    color: black;
}

#clearCart:hover {
    background-color: hsl(0, 93%, 53%);
    color: white;
}

.itemCard {
    background-color: rgb(240, 240, 240);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.itemContainer {
    display: flex;
    align-items: center;
    gap: 1em;
}

.itemImage img {
    width: 50px;
    height: 100%;
}

.cartDeleteButton {
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: background-color .1s linear, box-shadow .1s linear;
    border-radius: 10px;
    border: 1px solid red;
}

.cartDeleteButton:hover {
    background-color: rgb(254, 226, 226);
    border: 1px solid red;
    box-shadow: 0 0 30px -10px red;
}