#container {
    width: var(--width);
    min-height: 300px;
    margin: 2em auto;
}

#container > p {
    margin-bottom: 1em;
}

#min-container {
    display: flex;
    width: 100%;
    gap: 1em;
}

#min-container > div {
    width: 50%;
    background-color: rgb(241, 241, 240);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

#product-image {
    height: 100%;
    align-items: center;
}

#product-image img {
    max-width: 500px;
    width: 100%;
}

#product-description {
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#product-description h1 {
    font-size: 40px;
}

#product-description button {
    --default-blue: #8499D3;
    --active-blue: #405eb0;
    background-color: var(--default-blue);
    width: 200px;
    padding: 1em 0;
    border-radius: 10px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: box-shadow .1s linear, background-color .1s linear;
}

#product-description button:hover {
    box-shadow: 0 0 30px var(--default-blue);
}

#product-description button:active {
    background-color: var(--active-blue);
    box-shadow: 0 0 30px var(--active-blue);
}

#tags {
    display: flex;
    gap: 1em;
}

.information-tag {
    width: 200px;
    background: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1em;
    background-color: aliceblue;
}

@media (width < 1000px) {
    #tags {
        flex-direction: column;
    }
}

@media (width < 800px) {
    #container {
        width: 70%;
    }

    #min-container {
        flex-direction: column;
    }
    
    #min-container > div {
        width: 100%;
        margin: 0 auto;
    }

    #tags {
        flex-direction: row;
    }
}

@media (width < 600px) {
    #product-description button {
        width: 100%;
    }

    #tags {
        flex-direction: column;
    }

    .information-tag {
        width: 100%;
        justify-content: center;
    }
}